@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.theme {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  transition: background-color 0.5s;
  &.dark {
    background-color: #252525;
  }

  .container {
    display: flex;
    padding: 2rem 1.5rem;
    gap: 1rem;
  }
}

//Mobile
@media only screen and (max-width: 640px) {
  .container {
    position: relative;
    display: block !important;
    padding: 0 !important;
    gap: 0 !important;
  }
}

//Tablet
@media only screen and (max-width: 1024px) {
  .links {
    display: none !important;
  }
}
