//Colors

$dark-0: #c1c2c5;
$dark-1: #a6a7ab;
$dark-2: #909296;
$dark-3: #5c5f66;
$dark-4: #373a40;
$dark-5: #2c2e33;
$dark-6: #25262b;
$dark-7: #1a1b1e;
$dark-8: #141517;
$dark-9: #101113;

$input-bg-color: #2c2c2c;

//Light Theme
$primary-light: #fff;
$secondary-light: #8c8d8d; // text !active
$border-ligt: rgba(128, 128, 128, 0.438);

$light-saber-light: #3784d6;
//Dark Theme
$primary-dark: rgba(0, 0, 0, 0.945);
$text-primary-dark: $dark-5;
$text-secondary-dark: $dark-2;
$border-dark: rgba(165, 163, 163, 0.767);
$active-link-dark: #fade4b;
$light-saber-dark: #e51115;

// $active-link: 0px 0px 4px 1px #fade4b; box shadow
