.main {
  flex: 1;
  width: 75%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  gap: 2rem;
}
