@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.main {
  flex: 1;
  width: 100%;
  background-color: #e0e0e0;
  padding: 3rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  gap: 2rem;
  @include center;
  flex-direction: column;

  &.dark {
    background-color: $dark-8;
  }

  .box {
    @include center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .icon {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 0.8rem;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 20px;
    color: white;
    z-index: 20;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.dark {
      color: black;
      background-color: rgba(255, 255, 255, 0.726);
      &:hover {
        background-color: rgba(255, 255, 255, 0.966);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.74);
    }
  }
  .loadMore {
    text-transform: capitalize;
    cursor: pointer;
    width: 300px;
    border: none;
    user-select: none;
    padding: 10px;
    background-color: #f8f5f5;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: mix(white, #2c2c2c, 20%);
    &:disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
    &:hover {
      box-shadow: 0px 0px 4px 1px $light-saber-light;
    }
    &.dark {
      color: rgb(214, 210, 210);
      background-color: rgba(70, 67, 67, 0.603);
      &:hover {
        box-shadow: 0px 0px 4px 1px $light-saber-dark;
      }
    }
  }
}

//Mobile
@media only screen and (max-width: 640px) {
  .main {
    flex: 0 !important;
    background-color: #fff;
    &.dark {
      background-color: $dark-5;
    }
  }
}

//Tablet
@media only screen and (max-width: 1024px) {
  .main {
    background-color: #fff;
    &.dark {
      background-color: $dark-5;
    }
  }
}
