@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.main {
  flex: 1;
  width: 75%;
  background-color: #e0e0e0;
  @include center;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  gap: 2rem;

  &.dark {
    background-color: $dark-9;
  }

  .icon {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 0.8rem;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 20px;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.dark {
      color: black;
      background-color: rgba(255, 255, 255, 0.726);
      &:hover {
        background-color: rgba(255, 255, 255, 0.966);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.74);
    }
  }
}
