@import '../../styles/styles.scss';
@import '../../styles/variables.scss';

.filter {
  transition: background-color 0.5s;
  max-width: 280px;
  height: 600px;
  background-color: rgb(209, 209, 209);
  display: flex;
  padding: 2rem 2rem;
  gap: 1rem;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &.dark {
    background-color: $dark-9;
  }

  .selectBoxs {
    display: grid;
    gap: 2rem;
  }
}
