@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.detailsPage {
  @include center;
  height: 90vh;
  .content {
    background-color: #e0e0e0;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
    h3 {
      font-size: 18px;
    }
    hr {
      width: 80%;
    }
    .details {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      border-radius: 3px;

      .imgBox {
        padding-top: 50%;
        position: relative;
        width: 400px;
        height: 350px;
        border-radius: 3px;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .texts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: start;
        gap: 2rem;
        padding: 2rem;
        background-color: #e0e0e0;
        font-size: 14px;
        p {
          span {
            line-height: 10px;
            font-weight: 600;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

//Mobile
@media only screen and (max-width: 640px) {
  .detailsPage {
    height: 100vh;
    margin-bottom: 11rem;
    .details {
      flex-direction: column;
      .imgBox {
        width: 300px;
        height: 28px;
      }
    }
  }
}

//Tablet
@media only screen and (max-width: 1024px) {
  .detailsPage {
    .details {
      flex-direction: column;
    }
  }
}
