@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

//input values
$input-bg-color: #2c2c2c;
$label-color: mix(white, $input-bg-color, 40%);
$button-color: mix(white, $input-bg-color, 20%);
$trans-time: 300ms;
$width: 100%;

.dropdown {
  width: $width;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;

  //Label
  .title {
    margin-left: 5px;
    color: $label-color;
  }

  .titleOpen {
    color: #fff;
    text-shadow: $light-saber-light 0px 14px 28px,
      $light-saber-light 0px 5px 10px;
    &.dark {
      text-shadow: $light-saber-dark 0px 14px 28px,
        $light-saber-dark 0px 5px 10px;
    }
  }

  //Select Button
  .dropdownBtn {
    text-transform: capitalize;
    width: 100%;
    border: none;
    user-select: none;
    padding: 10px;
    background-color: #f8f5f5;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: $button-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.dark {
      color: rgb(214, 210, 210);
      background-color: rgba(70, 67, 67, 0.603);
      &:focus,
      &:hover {
        box-shadow: 0px 0px 4px 1px $light-saber-dark;
      }
    }
    .icon {
      transition: all $trans-time;
      transform: rotate(90deg);
    }
    .open {
      transform: rotate(0deg);
    }

    &:focus,
    &:hover {
      box-shadow: 0px 0px 4px 1px $light-saber-light;
    }
  }
  .dropdownContent {
    position: absolute;
    top: 110%;
    padding: 15px;
    background-color: #fff;
    font-weight: 500;
    color: #333;
    width: 100%;
    transform: all $trans-time;
    z-index: 50;
    &.dark {
      color: white;
      background-color: rgb(70, 67, 67);
    }

    //Option
    .dropdownItem {
      text-transform: capitalize;
      text-align: start;
      width: 100%;
      border: none;
      background: none;
      padding: 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 4px 1px $light-saber-light;
      }

      &.dark:hover {
        box-shadow: 0px 0px 4px 1px $light-saber-dark;
      }
    }
  }
}
